extends ../layout

block content
    h1 Check Payment

    div#check-payment
        if !payment
            p Payment record not found
        else
            p Your payment detail
                div
                    label Customer Name
                    input(value=payment.customerName, disabled=true)
                    label Customer Phone Number
                    input(value=payment.customerPhone, disabled=true)
                    label Currency
                    input(value=payment.currency, disabled=true)
                    label Price
                    input(value=payment.price, disabled=true)