extends ../layout

block content
    h1 Check Payment

    div#payment
        p Payment Information
        form(action='/payment/check' method='POST')
            label(for='customer_name') Customer Name
            input(type='text', id='customer_name', name='customerName', placeholder='Customer Name', required)
            label(for='payment_refcode') Payment Reference Code
            input(type='text', id='payment_refcode', name='paymentRefCode', placeholder='Payment Reference Code', required)
            button(type='submit') Check Payment