extends ../layout

block content
    h1 Payment Gateway

    div#payment
        p Purchase a new order
        form(action='/payment' method='POST')
            label(for='customer_name') Customer Name
            input(type='text', id='customer_name', name='customerName', placeholder='Your Name', required)
            label(for='customer_phone') Costomer Phone Number
            input(type='text', id='customer_phone', name="customerPhone", placeholder='Your Phone Number', required)
            label(for='currency') Currency
            select(id='currency', name='currency', required)
                option(value='HKD') HKD
                option(value='USD') USD
                option(value='AUD') AUD
                option(value='EUR') EUR
                option(value='JPY') JPY
                option(value='CNY') CNY
            label(for='price') Price
            input(type='text', id='price', name='price', placeholder='Price', required)

            p Payment
            label(for='payment_method') Payment Method
            select(id='payment_method', name='paymentMethod', required)
                option(value='Visa') Visa
                option(value='Master') Master
                option(value='AMEX') AMEX
            label(for='card_holder_first_name') First Name
            input(type='text', id='card_holder_first_name', name='cardHolderFirstName', placeholder='Card Holder First Name', required)
            label(for='card_holder_last_name') Last Name
            input(type='text', id='card_holder_last_name', name='cardHolderLastName', placeholder='Card Holder Last Name', required)
            label(for='card_number') Card Number
            input(type='text', id='card_number', name='cardNumber', placeholder='Credit Card Number', required)
            label(for='card_expiration') Expiration
            input(type='text', id='card_expiration', name='cardExpiration', placeholder='MM/YYYY', required)
            label(for='cvv2') CVV
            input(type='text', id='cvv2', name='cardCvv2', placeholder='CVV', required)
            button(type='submit') Create Payment
